<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{path('home')}}">
		<img class="" style="width: 30px;heigth: 30px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJuk3VHSd-vUkWc2fRP_T8OkNBAmqoD94N4Q&usqp=CAU" alt="Card image cap">
		SNOWTRICKS</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item {% if app.request.get('_route') == 'home' %} active{% endif %}">
				<a class="nav-link" href="{{path('home')}}">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item {% if app.request.get('_route') == 'tricks' %} active{% endif %}">
				<a class="nav-link" href="{{path('tricks')}}">Tricks</a>
			</li>
		</ul>
	</div>
	<div class="ml-5" style="">
		{% if app.session.get('user') %}
			<span class="mr-2" style="" href="/logout">{{app.session.get('user').username}}</span>
			<a href="/logout" class="btn btn-outline-danger btn-sm" style="" href="{{path('logout')}}">Se déconnecter</a>
		{% else %}
			<a class="btn btn-outline-primary btn-sm" style="" href="{{path('app_login')}}">Se connecter</a>
		{% endif %}
	</div>
</nav>
