{% for trick in tricks %}
	<div class="col-12 col-sm-12 col-lg-4 d-flex align-items-stretch mb-5">
		<div class="card">
			<img class="card-img-top imgTrick" src="{{ trick.mainImage }}" alt="Card image cap">
			<div class="card-body">
				<p>
					<span class="badge badge-warning p-2 float-right">{{ trick.catName }}</span>
				</p>
				<h1 style="display: inline-block; font-size: 26px;">{{ trick.name|capitalize }}</h1>
				<p class="card-text">{{ trick.description | raw}}</p>
			</div>
			<div class="card-footer text-muted cardfooter">
				<a href="trick/{{trick.urlPath}}" class=" btn btn-primary">Plus de détails</a>
				<a href="{{ path("update", { 'id': trick.id }) }}" style="">
					<i class="fas fa-pen ml-3"></i>
				</a>
				<button style="border: none; background-color: white;" data-toggle="modal" data-target="#delete_trick" data-id="{{trick.id}}">
					<i class="fas fa-trash-alt ml-3"></i>
				</button>
			</div>
		</div>
	</div>
{% endfor %}
