<div id="tricks_list" class="row mt-5">
	{% for trick in tricks %}
		<div class="col-sm-4 d-flex align-items-stretch mb-5">
			<div class="card">
				<img class="card-img-top imgTrick" src="{{ trick.mainImage }}" alt="Card image cap">
				<div class="card-body">
					<p>
						<span class="badge badge-warning p-2 float-right">{{ trick.catName }}</span>
					</p>
					<h1 style="display: inline-block; font-size: 26px;">{{ trick.name|capitalize }}</h1>
					<p class="card-text">{{ trick.description | raw}}</p>
				</div>
				<div class="card-footer text-muted cardfooter">
					<a href="trick/{{trick.urlPath}}" class=" btn btn-primary">Plus de détails</a>
					<a href="{{ path("update", { 'id': trick.id }) }}" style="">
						<i class="fas fa-pen ml-3"></i>
					</a>
					<button style="border: none; background-color: white;" data-toggle="modal" data-target="#delete_trick" data-id="{{trick.id}}">
						<i class="fas fa-trash-alt ml-3"></i>
					</button>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
<div class="row">
	<button type="button" id="loadMore" class="btn btn-secondary mx-auto">Charger plus</button>
</div>
<div class="modal fade" id="delete_trick" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" style="font-size: 14px;">Êtes-vous sûr de vouloir supprimer ce trick</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-footer" id="footer-delete"></div>
		</div>
	</div>
</div>
